@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
/*----------------------------------ESTILO DO CORPO DO SITE----------------------------*/
body {
    font-family: 'Sofia', cursive;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formulario{
    margin: 5%;
    margin-left: 15%;
}

h1 {
    color: #333;
}

div{
    padding: 40px;
    background: url('https://media.tenor.com/9vRAkntogEMAAAAC/background.gif') no-repeat center center fixed;
    background-size: cover;
}

/*----------------------------------ESTILO DO BOTAO----------------------------*/
button {
    margin-top: 10px;
    padding: 15px 25px;
    background-color: #545454;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

button:hover{
    background-image: url(https://media.tenor.com/aV0h3VAHWUAAAAAM/gradient.gif);
    transition: 1s;
}

.entrar{
    margin-top: 5%;
    margin-left: -12%;
}

/*-----------------------------------------------------------------------------*/

label, input {
    display: block;
    margin-top: 5px;
}

input {
    padding: 9px ;
    width: 100%;
}

#dadosUsuario {
    margin-top: 20px;
    text-align: left;
}

#dadosUsuario p {
    margin: 10px 0;
}

.titulo, strong{
    color: rgb(255, 255, 255);
}

.titulos{
    color: rgb(255, 255, 255);
}

#nomeSpan, #idadeSpan{
    color: white;
}